%table#results-table
  - results.each do |result|
    %tr
      %th= result.name
      %th= link_to 'link', result.href
    %tr
      %td.result-paragraphs{colspan: 2}
        - result.paragraphs.map(&:text).each do |text|
          %p= truncate(text, length: 100)
