html {
  font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
  text-align: center;
  font-size: large;
}

h1 {
  font-size: 150px;
  padding: 0 0 0 0;
  margin: 0 0 40px 0;
}

input {
  font-size: large;
  width: 400px;
}
