html {
  font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
  text-align: center;
  font-size: large;
}

h1 {
  font-size: 130px;
  padding: 0 0 0 0;
  margin: 0 0 40px 0;

  img {
    position: relative;
    top: 30px;
    margin-right: -60px;
    width:  220px;
    height: 220px;
  }
}

input {
  font-size: large;
  width: 400px;
}

#search-results {
  padding-top: 30px;

  #results-table {
    width: 60%;
    margin: auto;
    border-spacing: 0;
    border-collapse: collapse;

    th {
      background: #CCCCCC;
      padding: 0 20px 0 20px;
      margin: 0 20px 0 20px;
      text-align: left;
    }

    td {
      background: #EFEFEF;

      &.result-paragraphs {
        font-size: xx-small;
        padding-top: 15px;
        padding-bottom: 15px;

        p {
          padding: 0;
          margin: 2px;
        }
      }
    }
  }
}
